html{
    font-family: Arial, sans-serif;
    background-color:white;
}
body{
    margin:0;
}
.header {
    background-color:aqua;
}
h2{
    background-color:lightblue;
}

.footer{
    background-color:darkgray;
    padding:10px;
    padding-top:35px;
}
.footer img{
    background-color:darkgray;
    mix-blend-mode: multiply;
}
.footer-last{
    float:right;
    font-size:7vw;
}